{% extends "../base.html" %}

{% block title__head %}
<title>Вход</title>
{% endblock title__head %}

{% block main %}
<main role="main" class="pb-3">
	<div>
		<h1 class="display-4 mb-4 text-center">Авторизация</h1>
		<div class="container">
			<div class="row">
				{% if form.errors %}
					<div class="alert alert-danger alert-dismissible fade show w-100 p-3" role="alert">
						Неправильный логин или пароль
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endif %}
				<form class="w-100 p-3" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleInputEmail1">Логин</label>
						<input name="username" type="text" class="form-control" aria-describedby="emailHelp" required>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Пароль</label>
						<input name="password" type="password" class="form-control" required>
					</div>
					<button name="addCard" type="submit" class="btn btn-primary">Войти</button>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock main %}