{% extends "base.html" %}

{% block title__head %}
<title>Об инциденте</title>
{% endblock title__head %}

{% block main %}
<main role="main" class="pb-3">
	<div>
		<h1 class="display-4 mb-4 text-center">Инцидент № {{card.id}}</h1>
		<div class="container">
			<div class="card mb-2">
				<div class="card-body">
					<h5 class="card-title"><span class="badge badge-primary mr-2">№ 228</span>Карточка ДТП</h5>
					<p class="card-text">Какое-то описание.</p>
					<p class="card-text mb-0">Произошло: {{ card.date }}</p>
					<p class="card-text mb-0">Место ДТП: {{ card.place}}</p>
					<p class="card-text">Вид ДТП: {{ card.incident.name }}</p>
					<p class="card-text mb-0">Марка автомобиля: {{ card.car.cars_brand.name }}</p>
					<p class="card-text mb-0">Гос. номер: {{card.car.insurance_number}}</p>
					<p class="card-text mb-0">Фамилия: {{ card.driver.familia }}</p>
					<p class="card-text mb-0">Имя: {{ card.driver.name }}</p>
					<p class="card-text">Отчество: {{ card.driver.otchestvo }}</p>
					<p class="card-text mb-0">Описание погодных и дорожных условий: {{ card.weather.name }}</p>

					<p class="card-text">Выявленные на месте причины ДТП: Саша</p>
					<p class="card-text mb-0">Количество раненых: 228</p>
					<p class="card-text">Количество погибших: -5</p>
					
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock main %}