{% extends "base.html" %}

{% block title__head %}
<title>Об инциденте</title>
{% endblock title__head %}

{% block main %}
<main role="main" class="pb-3">
	<div>
		<h1 class="display-4 mb-4 text-center">Инцидент № 228</h1>
		<div class="container">
			<div class="card mb-2">
				<div class="card-body">
					<h5 class="card-title"><span class="badge badge-primary mr-2">№ 228</span>Место ДТП</h5>
					<p class="card-text">Какое-то описание.</p>
					<p class="card-text mb-0">Сотрудник: <a href="">Ауе И. В.</a></p>
					<p class="card-text">Добавлено: 01 ноября 2017 09:03</p>
					<p class="card-text mb-0">Произошло: 03 ноября 2017 19:09</p>
					<p class="card-text mb-0">Место ДТП: Пермь</p>
					<p class="card-text">Вид ДТП: жоский</p>
					<p class="card-text mb-0">Марка автомобиля: Шоха</p>
					<p class="card-text mb-0">Гос. номер: Х 228 ХХ 159</p>
					<p class="card-text mb-0">Фамилия: Шляпик</p>
					<p class="card-text mb-0">Имя: Саша</p>
					<p class="card-text">Отчество: Артёмович</p>
					<p class="card-text mb-0">Описание погодных условий: Саша</p>
					<p class="card-text mb-0">Описание дорожных условий: Саша</p>
					<p class="card-text mb-0">Состав участников ДТП: Саша</p>
					<p class="card-text mb-0">Действия участников ДТП: Саша</p>
					<p class="card-text">Выявленные на месте причины ДТП: Саша</p>
					<p class="card-text mb-0">Количество раненых: 228</p>
					<p class="card-text">Количество погибших: -5</p>
					
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock main %}