{% extends "base.html" %}

{% block title__head %}
<title>Последствия</title>
{% endblock title__head %}

{% block main %}
<main role="main" class="pb-3">
	<div>
		<h1 class="display-4 mb-4 text-center">Последствия</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				  <li class="breadcrumb-item">1 Создать карточку</li>
				  <li class="breadcrumb-item">2  Об участнике инцидента</li>
				  <li class="breadcrumb-item">3 Больше деталей</li>
				 <li class="breadcrumb-item active" aria-current="page">4 Последствия</li>
			</ol>
		</nav>
		<div class="container">
			<div class="row">
				<div class="alert alert-success alert-dismissible fade show w-100 p-3" role="alert">
					Запись успешно добавлена
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="alert alert-danger alert-dismissible fade show w-100 p-3" role="alert">
					Произошла ошибка {message}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>						
				<form class="w-100 p-3" method="POST">
					{% csrf_token %}

					<input type="hidden" name="step" value="3">

					<input type="hidden" name="card_number" value={{card_number}}>
					<input type="hidden" name="date" value={{date}}>
					<input type="hidden" name="place" value={{place}}>
					<input type="hidden" name="type" value={{type}}>
					<input type="hidden" name="mark" value={{mark}}>
					<input type="hidden" name="stateNumber" value={{stateNumber}}>
					<input type="hidden" name="secondName" value={{secondName}}>
					<input type="hidden" name="firstName" value={{firstName}}>
					<input type="hidden" name="middleName" value={{middleName}}>
					<input type="hidden" name="weather" value={{weather}}>
					<input type="hidden" name="roadConditions" value={{roadConditions}}>
					<input type="hidden" name="listParticipants" value={{listParticipants}}>
					<input type="hidden" name="actionsParticipants" value={{actionsParticipants}}>
					<input type="hidden" name="identifiedCauses" value={{identifiedCauses}}>

					<div class="form-group">
						<label for="exampleInputEmail1">Количество раненых</label>
						<input name="numberWounded" type="number" min="0" class="form-control" aria-describedby="emailHelp" required>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Количество погибших</label>
						<input name="deathToll" type="number" min="0" class="form-control" required>
					</div>
					<button name="addCard" type="submit" class="btn btn-primary">Добавить запись</button>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock main %}