{% extends "base.html" %}

{% block title__head %}
<title>Больше деталей</title>
{% endblock title__head %}

{% block main %}
<main role="main" class="pb-3">
	<div>
		<h1 class="display-4 mb-4 text-center">Больше деталей</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">1 Создать карточку</li>
				<li class="breadcrumb-item">2  Об участнике инцидента</li>
				<li class="breadcrumb-item active" aria-current="page">3 Больше деталей</li>
			</ol>
		</nav>
		<div class="container">
			<div class="row">
				<div class="alert alert-danger alert-dismissible fade show w-100 p-3" role="alert">
					Произошла ошибка {message}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="w-100 p-3" method="POST">
					{% csrf_token %}

					<input type="hidden" name="step" value="2">

					<input type="hidden" name="card_number" value={{card_number}}>
					<input type="hidden" name="date" value={{date}}>
					<input type="hidden" name="place" value={{place}}>
					<input type="hidden" name="type" value={{type}}>
					<input type="hidden" name="mark" value={{mark}}>
					<input type="hidden" name="stateNumber" value={{stateNumber}}>
					<input type="hidden" name="secondName" value={{secondName}}>
					<input type="hidden" name="firstName" value={{firstName}}>
					<input type="hidden" name="middleName" value={{middleName}}>

					<div class="form-group">
						<label for="exampleInputEmail1">Описание погодных условий</label>
						<input name="weather" type="text" class="form-control" aria-describedby="emailHelp" required>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Описание дорожных условий</label>
						<input name="roadConditions" type="text" class="form-control" required>
					</div>
					<hr>
					<div class="form-group">
						<label for="exampleInputPassword1">Состав участников ДТП</label>
						<input name="listParticipants" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Действия участников ДТП</label>
						<input name="actionsParticipants" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Выявленные на месте причины ДТП</label>
						<input name="identifiedCauses" type="text" class="form-control" required>
					</div>
					<button name="next3" type="submit" class="btn btn-primary">Далее</button>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock main %}